.red_text{color: red;}

.bg_color_change{
 width: 900px;
 height: 200px;
 background-color: red;
 text-align: center;
}

.big{
  font-size:30px;
}

.box{
    width: 50px;
    height: 50px;
    margin: 20px;
    padding: 20px;
    background-color: blue;
}

 .box1{
     width: 100px;
     height: 100px;  
     background-color:blue;
 }

 .box2{
     width: 100px;
     height: 100px;
     background-color:red;
 }

 .box3{
      width: 100px;
      height: 100px;
      background-color:green;
 }

.wrapper{
  display: flex;
}

.USSR{
  display: block;
}
 
.box4{
     width: 100px;
     height: 100px;
     background-color: green;
}

.box5{
     width: 100px;
     height: 100px;
     background-color: blue;
}

.box6{
     width: 100px;
     height: 100px;
    background-color: red;
}

.wrapper{
  display: flex;
}

.box7{
  width: 150px;
  height: 50px;
  background-color: blue;
}

.box8{
  width: 150px;
  height: 50px;
  background-color: black;
}

.box9{
  width: 150px;
  height: 50px;
 background-color: red;
}

.wrapper{
  display: flex;
}


.box10{
  width: 150px;
  height: 50px;
  background-color: blue;
}

.box11{
  width: 150px;
  height: 50px;
  background-color: black;
}

.box12{
  width: 150px;
  height: 50px;
 background-color: yellow;
}

.wrapper{
  display: flex;
}

.box13{
  width: 150px;
  height: 50px;
  background-color: blue;
}

.box14{
  width: 150px;
  height: 50px;
  background-color: green;
}

.box15{
  width: 150px;
  height: 50px;
 background-color: yellow;
}

.wrapper{
  display: flex;
}

.box16{
  width: 150px;
  height: 50px;
  background-color: red;
}

.box17{
  width: 150px;
  height: 50px;
  background-color: green;
}

.box18{
  width: 150px;
  height: 50px;
 background-color: green;
}

.wrapper{
  display: flex;
}

.box19{
  width: 150px;
  height: 50px;
  background-color: red;
}

.box20{
  width: 150px;
  height: 50px;
  background-color: blue;
}

.box21{
  width: 150px;
  height: 50px;
 background-color: green;
}

.wrapper{
  display: flex;
}

.box22{
  width: 150px;
  height: 50px;
  background-color: red;
}

.box23{
  width: 150px;
  height: 50px;
  background-color: blue;
}

.box24{
  width: 150px;
  height: 50px;
 background-color: green;
}

.wrapper{
  display: flex;
}

.box25{
  width: 300px;
  height: 50px;
  background-color: blue
}

.wrapper{
  display: flex;
}

.box26{
  width: 240px;
  height: 100px;
  background-color: red
}

.box27{
  width: 60px;
  height: 100px;
  background-color: black
}

.box28{
  width: 300px;
  height: 50px;
  background-color: green
}

.box29{
  width: 500px;
  height: 100px;
  background-color: white
}

.box30{
  width: 600px;
  height: 50px;
  background-color: dodgerblue
}

.box31{
  width: 600px;
  height: 100px;
  background-color: red;
}
.box32{
  width: 30px;
  height: 150px;
  background-color: yellow;
}
.box33{
  width: 390px;
  height: 25px;
  background-color: yellow;
}
.box34{
  width: 390px;
  height: 40px;
  background-color:dodgerblue ;
}
.box35{
  width: 390px;
  height: 25px;
  background-color: yellow;
}
.box36{
  width: 58px;
  height: 40px;
  background-color:dodgerblue ;
}
.box37{
  width: 25px;
  height: 40px;
  background-color: yellow;
}
.box38{
  width: 58px;
  height: 40px;
  background-color:dodgerblue ;
}
.box39{
  width: 25px;
  height: 40px;
  background-color: yellow ;
}
.box40{
  width: 58px;
  height: 40px;
  background-color:dodgerblue ;
}
.box41{
  width: 25px;
  height: 40px;
  background-color: yellow;
}
.box42{
  width: 58px;
  height: 40px;
  background-color:dodgerblue ;
}
.box43{
  width: 25px;
  height: 40px;
  background-color: yellow ;
}
.box44{
  width: 58px;
  height: 40px;
  background-color:dodgerblue ;
}
.box45{
  width: 390px;
  height: 20px;
  background-color: yellow;
}
.box46{
  width: 30px;
  height: 150px;
  background-color: yellow;
}
.box47{
  width: 30px;
  height: 150px;
  background-color: green;
}
.box48{
  width: 90px;
  height: 30px;
  background-color: green;
}
.box49{
  width: 30px;
  height: 150px;
  background-color: green;
}
.box50{
  width: 90px;
  height: 90px;
  background-color: dodgerblue
}
.box51{
  width: 90px;
  height: 30px;
  background-color: green;
}





.tas1{
  width: 900px;
  height: 900px;
  position: relative;
  background-color: blue;
}
.tas2{
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: red;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin:auto;
}
